/* .home-page-card-1 {
    width: 40%;
    height: 30%;
  
}
.home-page-card-1-img {
    width: 100%;
    height: 100%;
    
} */

/* .Main-body-home {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    direction: rtl;
    position: absolute;
}

.Home-navbar-head {
    width: 80vw;
    height: 10vh;
    background-color: red;
    position: relative;
    right: 10vw;
    top: 5vh;
} */
*{
    box-sizing: border-box;
}
.main-body-home {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    direction: rtl;
    position: absolute;
    display: flex;
}

.home-navbar-head {
    display: flex;
    width: 90vw;
    height: 15vh;
    background-color: red;
    position: absolute;
    z-index: 1;
    justify-content: left;
    top: 5vh;
    left: 5vw;
    border-radius: 20px;
}

.logo-image-main-home {
    height: 100%;
    background-color: white;
    border-radius: 20px;
}

.logo-image-main-home-box {
    position: relative ;
    left: 2vw;
}

.home-navbar-head-store {
    position: relative;
    text-decoration: none;
    color: black;
    left: 35vw;
    display: flex;
    justify-content:center
}

.home-navbar-head-donate {
    position: relative;
    text-decoration: none;
    color: black;
    left: 30vw;
    display: flex;
    justify-content:center
}

.home-navbar-head-aboutus {
    position: relative;
    text-decoration: none;
    color: black;
    left: 25vw;
    display: flex;
    justify-content:center
}

.home-navbar-head-weblog {
    position: relative;
    text-decoration: none;
    color: black;
    left: 20vw;
    display: flex;
    justify-content:center
}

.home-navbar-head-registerlogin{
    position: relative;
    text-decoration: none;
    color: black;
    left: 55vw;
    display: flex;
    justify-content:center
    height: 100%;
}